body {
  background-color: #ff7961;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vmax;
}
