body {
  font-family: "Courier New", Courier, monospace;
}

div {
  position: relative;
  width: 100%;
  height: 100%;
}

p {
  position: absolute;
  font-size: 15vmax;
  font-weight: 600;
  vertical-align: middle;
  left: 50%;
  transform: translate(-50%, 0%);
}
