@import './vars/all';

#__next {
  height: 100vh;
  width: 100vw;
  font-family: $font-family;
  user-select: none;
  padding: 0;
  margin: 0;
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: #4e54c8;
  // display: flex;
  align-items: center;
  justify-content: center;
}
