$clock-font-family: 'Courier New', Courier, monospace;
$font-family: 'Courier New', Courier, monospace;
$blurple-dark: #23272a;
$dark-blurple: #4e5d94;
$blurple: #7289da;

html,
body {
    height: 100%;
    padding: none;
    margin: none;
    overflow: hidden;
}

body {
    font-family: $font-family;
    background-color: #fff;
}

.dark-mode {
    background-color: $blurple-dark;
}

#root {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 999999;
}

.ClockGenerator {
    margin: 50px;
    padding: 1%;
    border-radius: 5px;
    border-width: 5px;
    border-color: black;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    label {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: bolder;
        padding: 5px;
        margin: 5px;
        border: none;
        cursor: pointer;
        .checkbox-clock {
            margin: 0.75%;
        }
    }
    button {
        background-color: $blurple;
        border-radius: 5px;
        float: right;
        vertical-align: middle;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: bolder;
        padding: 5px;
        margin: 5px;
        border: none;
        cursor: pointer;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
}

.time-div {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-size: calc(10vw + 10vh);
    text-align: center;
    p {
        vertical-align: middle;
    }
}
// Clocks
.basic-clock {
    font-family: $clock-font-family;
    background-color: #ff7961;
}

.black-clock {
    font-family: $clock-font-family;
    background-color: black;
    color: white;
}

.pride-clock {
    font-family: $clock-font-family;
    background: linear-gradient(
        180deg,
        #fe0000 16.66%,
        #fd8c00 16.66%,
        33.32%,
        #ffe500 33.32%,
        49.98%,
        #119f0b 49.98%,
        66.64%,
        #0644b3 66.64%,
        83.3%,
        #c22edc 83.3%
    );
}

.white-clock {
    font-family: $clock-font-family;
    background-color: white;
}
