$clock-font-family: 'Courier New', Courier, monospace;
$font-family: Arial, Helvetica, sans-serif;
$blurple-dark: #23272a;
$dark-blurple: #4e5d94;
$blurple: #7289da;
$accent-color: rgb(243, 243, 243);
$accent-color-dark: rgb(235, 235, 235);

body {
    font-family: $font-family;
    background-color: #fff;
}

.time-div {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-size: calc(10vw + 10vh);
    text-align: center;
    p {
        vertical-align: middle;
    }
}

.clock {
    font-family: $clock-font-family;
    background-color: #fff;
}

.pride-clock {
    font-family: $clock-font-family;
    background: linear-gradient(
        180deg,
        #fe0000 16.66%,
        #fd8c00 16.66%,
        33.32%,
        #ffe500 33.32%,
        49.98%,
        #119f0b 49.98%,
        66.64%,
        #0644b3 66.64%,
        83.3%,
        #c22edc 83.3%
    );
}

#ClockGenerator {
    font-size: larger;
    margin: 50px;
    padding: 1%;
    border-radius: 5px;
    border-width: 5px;
    border-color: black;
    background-color: $accent-color;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    label {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: 5px;
        margin: 10px;
        border: none;
        cursor: pointer;
        .checkbox-clock {
            margin: 0.75%;
        }
        input {
            border-style: dashed;
            padding: 5px;
            margin-top: 10px;
            margin-left: 2px;
            background-color: $accent-color-dark;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }
    }
    button {
        transition: all 0.3333s ease;
        transition-property: background-color, transform, border;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        background-color: $blurple;
        position: absolute;
        right: 5%;
        border-radius: 5px;
        user-select: none;
        padding: 15px;
        border: none;
        cursor: pointer;
        &:hover {
            background-color: $accent-color;
            border: 2px solid $blurple;
            transform: scale(1.25);
        }
    }
}
