@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import './assets/genbutton.scss';
@import './assets/clock.scss';
@import './bg/bg.scss';
@import './popup/popover.scss';

$font-family: 'Exo', sans-serif;
$blurple-dark: #23272a;
$dark-blurple: #4e5d94;
$blurple: #7289da;
$accent-color: rgb(243, 243, 243);
$accent-color-dark: rgb(235, 235, 235);

html * {
    user-select: none;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    font-family: $font-family;
    background-color: rgb(27, 27, 27);
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
}

.link {
    color: #4e54c8;
    text-decoration: none;
}

.time-div {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-size: calc(10vw + 10vh);
    text-align: center;
    p {
        vertical-align: middle;
    }
}

#ClockGenerator {
    position: absolute;
    margin: 5vw;
    width: 90vw;
    font-size: larger;
    padding: 1%;
    border-radius: 5px;
    color: white;
    background-color: #23272a;
    .lbl-clock {
        cursor: pointer;
    }
    label {
        padding: 5px;
        margin: 10px;
        border: none;
        .checkbox-clock {
            margin: 0.75%;
        }
        input {
            user-select: all;
            padding: 5px;
            margin-top: 10px;
            margin-left: 2px;
            background-color: $accent-color-dark;
            border-radius: 5px;
        }
    }
}
