body {
  background: none transparent;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vmax;
}
